.attendance-days{
  background-color: #ffffff;
  padding: 15px;
  text-align: left;
  .count{
    font-size: 28px;
    color: #23aae4;
  }
  .label{
 
  }
}
.attendance-graph{
  img{
    height: 173px;
    width: auto;
  }
}
.attendance-summary{
  .days-count{
    padding-left: 0;
    list-style-type: square;
    margin-top: 15px;
    text-transform: capitalize;
    line-height: 35px;
    .present{
      color: green;
    }
    .absent{
      color: red;
    }
    .leave{
      color: #FF9800;
    }
    .wfh{
      color: #673AB7;
    }
  }
}
.attendance-history{
  .present{
    color: #0db70d;
    border: 1px solid #0db70d;
    border-radius: 30px;
    padding: 0px 14px;
  }
  .absent{
    color: #FF5722;
    border: 1px solid #FF5722;
    border-radius: 30px;
    padding: 0px 14px;
  }
  .leave{
    color:#9C27B0;
    border: 1px solid #9C27B0;
    border-radius: 30px;
    padding: 0px 14px;
  }
  .paid-day{
    background-color: #4CAF50;
    color: #ffffff;
    border: 1px solid #4CAF50;
    border-radius: 51px;
    padding: 0px 14px;
  }

}

.common-tab {
  padding: 0;
  float: left;
  background-color: #FFFFFF;
  border-radius: 3px;
  .tab-label {
    border-right: 1px solid #DFDFDF;
    float: left;
    padding: 12px;
    text-align: center;
    &:hover{
      background-color: #F1F1F1;
      text-decoration: none;
      cursor: pointer;
    }
    a{
        &:hover{
          text-decoration: none;  
        }
    }
    img{
        height: auto;
        width: 20px;
        margin-right: 20px;
    }
  }
}