.step-process1{
  background-color: #095c91;
  margin-top: 100px;
  padding: 0;
  .step1{
    position: absolute;
    right: -42px;
    background-image: linear-gradient(to bottom right, #ec9033, #efc64e);
    border-radius: 100px;
    height: 50px;
    width: 50px;
    top: -27px;
    text-align: center;
    padding-top: 6px;
    color: #ffffff;
    font-size: 24px;
    z-index: 999;
  }
  .step1-label{
    position: absolute;
    right: -69px;
    top: 10px;
    font-weight: bold;
    top: 33px;
    font-size: 18px;
  }
}
.step-process2{
  background-color: #095c91;
  margin-top: 100px;
  padding: 0;
  .step2{
    position: absolute;
    right: -42px;
    background-image: linear-gradient(to bottom right, #ec9033, #efc64e);
    border-radius: 100px;
    height: 50px;
    width: 50px;
    top: -27px;
    text-align: center;
    padding-top: 6px;
    color: #ffffff;
    font-size: 24px;
    z-index: 999;
  }
  .step1-label{
    position: absolute;
    right:-92px;
    top: 10px;
    font-weight: bold;
    top: 33px;
    font-size: 18px;
  }
}
.step-process3{
  background-color: #095c91;
  padding: 0;
  margin-top: 100px;
  .step3{
    position: absolute;
    right: -42px;
    background-color: #095c91;
    border-radius: 100px;
    height: 50px;
    width: 50px;
    top: -27px;
    text-align: center;
    padding-top: 6px;
    color: #ffffff;
    font-size: 24px;
    z-index: 999;
  }
  .step1-label{
    position: absolute;
    right: -100px;
    top: 10px;
    font-weight: bold;
    top: 33px;
    font-size: 18px;
  }
}
.step-process4{
  background-color: #095c91;
  padding: 0;
  margin-top: 100px;
  .step4{
    position: absolute;
    right: -42px;
    background-color: #095c91;
    border-radius: 100px;
    height: 50px;
    width: 50px;
    top: -27px;
    text-align: center;
    padding-top: 6px;
    color: #ffffff;
    font-size: 24px;
    z-index: 999;
  }
  .step1-label{
    position: absolute;
    right: -69px;
    top: 10px;
    font-weight: bold;
    top: 33px;
    font-size: 18px;
  }
}