.leave-details{
  p{
    font-size: 18px;
  }
.leave-option1{
  padding: 12px 14px;
  background-color: #673ab780;
  border-radius: 100px;
  color: #ffffff;
  margin-top: 12px;
  margin-right: 20px;
  display: inline-block;
}
.leave-option2{
  padding: 12px 14px;
  background-color: #ffcc33;
  border-radius: 100px;
  color: #ffffff;
  margin-top: 12px;
  margin-right: 20px;
  display: inline-block;
}
.leave-option3{
  padding: 12px 14px;
  background-color: #ff9933;
  border-radius: 100px;
  color: #ffffff;
  margin-right: 20px;
  margin-top: 12px;
  display: inline-block;
}
.leave-option4{
  padding: 12px 14px;
  background-color: #00BCD4;
  border-radius: 100px;
  color: #ffffff;
  margin-right: 20px;
  margin-top: 12px;
  display: inline-block;
}
}